gitignore
# IntelliJ / Android Studio
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
*.bundle

# Build artifacts
build/
/*/build
/captures
.externalNativeBuild
.cxx

# Release artifacts
/app/release/
*.apk
output-metadata.json

# Signing files
*.jks
*.keystore
*.p12
google-services.json

# Local configuration
local.properties

# Kotlin specific
.kotlin/

# OS specific
Thumbs.db

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output